@charset "utf-8";

body {
	color:#000;
}
#hint {
	color:#fff;
	background-image:url(k60.png);
}
#hint a {
	color:#fff;
}
#hint span {
	background-color:#fff;
	color:#000;
}
#splash #header {
	background-color:#fff;
}
#splash #header #title {
	background-image:url(w60.png);
	color:#000;
}
#splash #header #starttext {
	color:#fff;
}
#splash #galleries td.folder {
	background-image:url(w80.png);
}
#splash #galleries td.folder:hover {
	background-image:url(k20.png);
}
.scrbar {
	background-image:url(w80.png);
}
#images a {
	color:#000;
}
#controls {
	background-image:url(w80.png);
}
#thumbs {
	background-image:url(w80.png);
}
ul.thmb li:hover {
	background-color:#fff;
}
ul.thmb li.active {
	background-color:#9a9284;
}
ul.thmb li a span {
	color:#fff;
}
#images .caption {
	color:#000;
	background-image:url(w80.png);
}
#images .caption .menu div.shares,
#images .caption .menu a.btn {
	background-color:#fff;
	border:1px solid #ddd;
	color:#333;
}
#images .caption .menu a.btn:hover {
	border:1px solid #fff;
}
#images .caption .menu a.active {
	border:1px solid #9a9284;
	color:#000;
}
#images .caption .menu span.nr {
	background-image:url(k80.png);
}
#images .caption .meta {
	color:#666;
}
#images .caption .meta b {
	color:#000;
}
#images .caption .shop form #shopSelect,
#images .caption .shop form #shopQuantity,
#images .caption .shop form #shopAmount {
	border:1px solid #ccc;
}
#images .caption .shop form #shopAmount {
	background-color:#fff;
	color:#000;
}
#help .window {
	border:3px solid #ccc;
	background-color:#fff;
}
#help .window h2 {
	color:#000;
}
#help .window em {
	background-color:#ddd;
	color:#000;
}
#help .window b {
	color:#000;
}